*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body{
    min-height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background:#f4f6f9;
    font-family:Arial, Helvetica, sans-serif;
    padding:20px;
}

.container{
    width:100%;
    max-width:450px;
    background:#fff;
    padding:40px;
    border-radius:12px;
    text-align:center;
    box-shadow:0 10px 25px rgba(0,0,0,.08);
}

h1{
    margin-bottom:30px;
}

.clock{
    padding:25px;
    border-radius:10px;
    background:#222;
}

#time{
    color:#00e676;
    font-size:42px;
    letter-spacing:2px;
    font-weight:bold;
}